# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# scripts locales no deben incluirse
src/scripts/
scripts/
#*.sql
*.backup.sql

# Ignorar backups de migraciones ya que son pg_dump
#supabase/backups/
supabase/migrations/*_backup.sql
supabase/migrations/*_data_only.sql

# carpetas y salidas de Robot
tests/output/
.tests-reports/

# Virtualenv
venv/
ENV/
env/
.venv/

# Byte-compiled / cached
__pycache__/
*.py[cod]
*$py.class

# pytest
.pytest_cache/

# Coverage reports
.coverage
htmlcov/
coverage.xml

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Mypy
.mypy_cache/

# Editor / IDE
.vscode/
.idea/

# Entornos de variables
.env
.env.*

# Reportes y salidas de Robot Framework
/log.html
report.html