.wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.scrollContainer {
  display: flex;
  flex-direction: column;
}

.image {
  width: auto;
  height: 100vh;
  object-fit: cover;
}

