/* ESTE ARCHIVO SE VA  QUITAR EVENTUALMENTE */

/* CSS - VerCursos */
/* Font Manrope*/
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
/*! QUITAR */
/* Background */
html, /*! QUITAR */
body,
#root {
  height: 100%;
  margin: 0;
  font-family: "Manrope", sans-serif;
  background-color: #000F14 ;
}

.ver-cursos-main { 
  width: 100%;
  height: 100%;
  padding: 20px;
  background: #000f14;
  overflow: hidden;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
}

/* Componente -> MENU */
/* Container */
.sidebar-container { /*! QUITAR */
  width: 160px; /* Era 200px */
  height: 100%; 
  padding: 10px 10px 10px 10px; /*Padding arriba era 30 */
  background: #001f29;
  overflow: hidden;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

/* Logo section */
.logo-container { /*! QUITAR */
  width: 120px;
  height: 35px;
  position: relative;
}

.logo-image { /*! QUITAR */
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Menu list */
.menu-list { /*! QUITAR */
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  width: 140px;
}

/* Menu item */
.menu-item { /*! QUITAR */
  align-self: stretch;
  height: 100%;
  padding: 10px 15px;
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

/* Icon styles */
.icon { /*! QUITAR */
  width: 15px;
  height: 100%;
}
.inactive-icon { /*! QUITAR */
  color: #9daaa6;
}
.active-icon { /*! QUITAR */
  color: #f3f2f2;
}

/* Label styles */
.label { /*! QUITAR */
  font-size: 16px;
  font-family: "Manrope";
  font-weight: 400;
  word-wrap: break-word;
  color: white;
}

.label.inactive { /*! QUITAR */
  color: #9daaa6;
}

.menu-item.active { /*! QUITAR */
  background: #0b88d5;
}

.menu-item.active .label { /*! QUITAR */
  color: white;
}

/* CONTENT */
.page-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
}

/* Navbar */
.navbar { /*! QUITAR */
  align-self: stretch;
  width: 100%;
  max-width: none;
  padding: 10px 15px 10px 30px; /*top, right, bottom, left */
  background: #001f29;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: auto;
}

.navbar-title { /*! QUITAR */
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.navbar-title-main { /*! QUITAR */
  color: white;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  word-wrap: break-word;
}

.navbar-title-arrow { 
  color: #C7C7CC;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}

.navbar-title-sub {
  color: #C7C7CC;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  word-wrap: break-word;
}


.navbar-right { /*! QUITAR */
  flex: 1 1 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.navbar-status-bar { /*! QUITAR */
  width: 500px;
  height: 30px;
  padding: 10px;
  background: #ebfaff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-icons {  /*! QUITAR */
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icon-placeholder {  /*! QUITAR */
  width: 25px;
  height: 25px;
  color: #9daaa6;
}
.profile-pic { 
  width: 40px;
  height: 40px;
  border-radius: 64.5px;
}

/* -------------- MAIN CONTENT -------------- */
/* Progress bar */
.progress-container {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  background: #042C45;
  border-radius: 15px;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.progress-header {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.progress-title {
  color: #EBFAFF;
  font-size: 28px;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

.progress-percent {
  color: #4DAA57;
  font-size: 24px;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
}

.progress-steps-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.progress-steps {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.step {
  width: 50px;
  height: 50px;
  padding: 12px 22px;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: 'SF Pro Display', sans-serif;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step.completed {
  background: #4DAA57;
  color: #053C5E;
  font-size: 25px;
}

.step.remaining {
  background: #C7C7CC;
  color: #053C5E;
  font-size: 20px;
}

.progress-legend {
  align-self: stretch;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.dot {
  width: 25px;
  height: 25px;
  border-radius: 9999px;
}

.dot.green {
  background: #4DAA57;
}

.dot.gray {
  background: #D4CECE;
}

.legend-label {
  color: white;
  font-size: 20px;
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
}

.progress-bar-wrapper {
  position: relative;
  width: 100%;
  height: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.bar-total,
.bar-completed {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 15px;
  border-radius: 5px;
}

.bar-total {
  width: 100%;
  background: #C7C7CC;
  z-index: 0;
}

.bar-completed {
  background: #4DAA57;
  z-index: 1;
}

.progress-tracker-wrapper {
  position: relative;
  width: 100%;
  height: 60px; /* Enough height for circles and bar */
}

.progress-bottom {
  display: flex;
  flex-direction: column; /* stack tracker and legend vertically */
  gap: 5px;
  width: 100%;
}

/*--------------ROW 1 ----------------*/

.course-row {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: stretch; /* Ensures both children match height */
}


.course-description-card {
  flex: 3; /* This sets it to take up 3/4 of the row */
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  border-radius: 15px;
  outline: 6px solid #042C45;
  outline-offset: -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.course-title {
  color: #EBFAFF;
  font-size: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.course-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.meta-item {
  display: flex;
  gap: 5px;
  align-items: center;
}

.meta-label {
  color: #C2F0FF;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.meta-value {
  color: #C2F0FF;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.course-paragraph {
  color: #9DAAA6;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  text-align: justify;
}

.learning-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.learning-title {
  color: #EBFAFF;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.learning-columns {
  display: flex;
  gap: 50px;
}

.learning-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.learning-point {
  display: flex;
  gap: 5px;
  align-items: center;
}

.bullet-container {
  position: relative;
  width: 30px;
  height: 30px;
}

.large-circle {
  width: 100%;
  height: 100%;
  border: 5px solid #0B88D5;
  border-radius: 50%;
}

.small-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  transform: translate(-50%, -50%);
  border: 3px solid #0B88D5;
  border-radius: 50%;
  background-color: transparent;
}


.learning-text {
  color: #8BCFF9;
  font-size: 16px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 300;
}

.course-stats {
  flex: 1; /* Takes 1/4 of the space (assuming .course-description-card is flex: 3) */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.score-card,
.time-card {
  flex: 1; /* Each fills 50% of .course-stats height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Spread content vertically */
  align-items: center;
  padding: 20px;
  background: #042C45;
  border-radius: 15px;
  gap: 15px;
}

.card-title {
  color: #EBFAFF;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  width: 100%;
}

.score-value {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  
}

.score-main {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.time-number,
.score-number {
  font-size: 60px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  color: #51B6F6;
  line-height: 1;
}

.time-unit,
.score-percent {
  font-size: 20px;
  font-weight: 400;
  color: #51B6F6;
  position: relative;
}


.stat-icon {
  width: 60px;
  height: 60px;
  color: #51B6F6;
}

.arrow-icon {
  width: 18px;
  height: 18px;
  color: #51B6F6; /* Or any color you prefer */
}

.arrow-up {
  transform: rotate(0deg);
}

.arrow-down {
  transform: rotate(180deg);
}


.time-icon {
  width: 45px;
  height: 45px;
  position: relative;
}

.clock-face {
  width: 37.29px;
  height: 37.29px;
  position: absolute;
  top: 4.66px;
  left: 3.86px;
  background: #8BCFF9;
}

.clock-hand {
  width: 7.5px;
  height: 15px;
  position: absolute;
  top: 14.34px;
  left: 21.21px;
  background: #042C45;
}

.score-info {
  display: flex;
  flex-direction: row; /* stacks children vertically */
  gap: 3px;                /* space between stacked items */
  justify-content: center; /* center vertically if container has height */
  align-items: center;     /* center horizontally */
}


.highlight {
  color: #51B6F6;
  font-weight: 700;
  text-decoration: underline;
  font-size: 15px;
}

.highlight-bold {
  color: #51B6F6;
  font-weight: 700;
  font-size: 15px;
}

.normal {
  color: #9DAAA6;
  font-weight: 400;
  font-size: 15px;
}

/*-------------- MODULOS ----------------*/
.modules-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  background: #042C45;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modules-header {
  color: #EBFAFF;
  font-size: 28px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.module-card {
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.module-summary {
  width: 100%;
  padding: 10px 20px;
  background: #064A74;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.module-status-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.module-status-circle.green {
  background: #4DAA57;
}

.module-name {
  display: flex;
  gap: 5px;
  align-items: center;
}

.module-name-number {
  color: #EBFAFF;
  font-size: 24px;
  font-weight: 600;
}

.module-name-text {
  color: #EBFAFF;
  font-size: 24px;
  font-weight: 400;
}

.module-meta {
  display: flex;
  gap: 20px;
  align-items: center;
}

.module-progress {
  width: 210px;
  padding: 5px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-progress.completed {
  background: #4DAA57;
}

.module-progress-number,
.module-progress-label {
  color: #EBFAFF;
  font-family: 'Manrope', sans-serif;
}

.module-progress-number {
  font-size: 24px;
  font-weight: 700;
}

.module-progress-label {
  font-size: 20px;
  font-weight: 500;
}

.module-arrow {
  width: 30px;
  height: 17.5px;
  background: #C2F0FF;
}

/* === MODULE CONTENT === */

.module-content {
  width: 98%;
  padding: 0 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  background-color: #08639B;
}

.module-description {
  padding: 10px 30px;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description-title {
  font-size: 20px;
  font-weight: 600;
  color: #C2F0FF;
}

.description-text {
  font-size: 18px;
  font-weight: 500;
  color: #EBFAFF;
}

.module-subsections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 30px;
  width: 100%;
}

.subsections-title {
  font-size: 20px;
  font-weight: 600;
  color: #C2F0FF;
  text-align: center;
}

.subsection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9DAAA6;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
}

.subsection-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subsection-index {
  width: 30px;
  height: 31px;
  background: #064A74;
  border-radius: 20px;
  color: #8BCFF9;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.subsection-text {
  color: #EBFAFF;
  font-size: 18px;
  font-weight: 500;
}

.subsection-status {
  width: 200px;
  padding: 5px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'SF Pro Display';
  font-size: 20px;
  font-weight: 500;
  color: #EBFAFF;
}

.subsection-status.completed {
  background: #4DAA57;
}

.subsection-status.in-progress {
  background: #F4B942;
}

.subsection-status.missing {
  background: #4C5754;
}
















.main-content { /*! QUITAR */
  width: 100%;
  flex: 1;
  margin: 0;
  overflow-y: auto;
  padding-right: 10px;
  
}

/* NEW inner wrapper handles layout and gap */
.main-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height:2000px;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "Manrope", sans-serif;
  overflow: hidden;
}

.app-container { /*! QUITAR */
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding: 20px;
  gap: 15px;
  
}

.sidebar-container {
  flex-shrink: 0;
}

.page-wrapper { /*! QUITAR */
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
  gap: 12px; 
}

.navbar {
  flex-shrink: 0;
}


.course-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  width: 100%;
  flex-wrap: nowrap;
  overflow: hidden;
}

.course-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.course-image {
  width: 220px;
  max-width: 220px;
  height: auto;
  object-fit: contain;
  border-radius: 15px;
  flex-shrink: 0;
}

.menu-link {
  text-decoration: none;
  color: inherit;
}


.menu-item {
  cursor: pointer;
}

.active-icon {
  /* styles for active icon */
  filter: none;
}

.inactive-icon {
  opacity: 0.5;
}

.label.inactive {
  color: #999999;
}

.label {
  color: white;
  font-weight: 600;
}
