.main-content {
  width: 100%;
  flex: 1;
  margin: 0;
  overflow-y: auto;
  padding-right: 5px;
  border-radius: 15px;
}

/* ============= container ============= */
.retos-container {
  width: 100%;
  padding: 20px 30px;
  background: #042c45;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.retos-page {
  display: flex;
  flex-direction: column;
  gap: 10px; /* spacing between retos and ranking */
}
