.main-inner {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-height:2000px;
}
.course-row {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: stretch; /* Ensures both children match height */
}

.course-stats {
  flex: 1; /* Takes 1/4 of the space (assuming .course-description-card is flex: 3) */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggle-button {
  background: none;
  border: none;
  color: #EBFAFF;
  font-size: 18px;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 8px;
  transition: background 0.2s;
}

.toggle-button:hover {
  background: rgba(255, 255, 255, 0.1);
}

