/* Badge.module.css */
.icon {
    --badge-primary:   #0078F0;
    --badge-secondary: #CFE3F7;
    --badge-stroke:    rgba(255,255,255,0.4);
  }
  .icon.gold {
    --badge-primary:   #f07e00;
  }
  .icon.red {
    --badge-primary:   red;
  }
  .conic {
    background: conic-gradient(
      from 90deg at 50% 50%,
      rgba(255,255,255,1) 0deg,
      rgba(224,224,224,1) 360deg
    );
    width: 100%;
    height: 100%;
    opacity: 1;
  }
  .secondary {
    opacity: 0.5;
  }
  