:root {
  --bg-blue-main: #042c45;
  --white-main: #ebfaff;
  --blue-light: #8bcff9;
  --grey-light: #9daaa6;
  --green: #4daa57;
}

.landing-container {
  height: 100%;
  background-color: #000f14;
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-direction: row;

  position: relative;
  padding: 0 20px;
  overflow: hidden;
}

.content-wrapper {
  width: 50%;
  height: 100%;
  max-width: none;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
  padding-top: 30px;

  align-items: flex-start;
  gap: 20px;
}

.middle-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.logo {
  height: 50px;
  width: auto;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.camino {
  font-size: 85px;
  font-weight: 300;
  line-height: 1;
  color: var(--white-main);
}

.guia {
  font-size: 95px;
  font-weight: 1000;
  line-height: 1;
  color: var(--white-main);
}

.bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
}

@media (min-width: 640px) {
  .title {
    font-size: 3rem;
  }
}

.subtitle {
  color: var(--grey-light);
  font-size: 30px;
  line-height: 2rem;
}

.login-button {
  background-color: #0b88d5;
  color: var(--white-main);
  font-weight: 500;
  padding: 15px 15px;
  border-radius: 9999px;
  font-size: 28px;
  transition: background-color 0.4s ease;
}

.login-button:hover {
  background-color: #064a74;
}

.login-button:active {
  background-color: #0766ab !important;
  transform: scale(0.98);
  transition: background-color 0.05s ease, transform 0.05s ease;
}

.animation-wrapper {
  width: 50%;
  height: 100%;
  position: relative;
  overflow: hidden;

  padding-right: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  gap: 40px;
}

.small-bg-wrapper {
  position: relative;

  transform: translateY(-100%);

  animation: slideDown 2s ease-out forwards;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-30%);
  }
}

.big-bg-wrapper {
  position: relative;

  transform: translateY(100%);
  animation: slideUp 1.75s ease-out forwards;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(25%);
  }
}
