/* updated rankingPodium.css */

.ranking-container {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  background: #042c45;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ranking-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ranking-title, .ranking-subtitle {
  font-family: "Manrope";
  font-size: 28px;
  font-weight: 600;
  word-wrap: break-word;
}

.ranking-title { color: #ebfaff; }
.ranking-subtitle { color: #8bcff9; }

.ranking-content {
  flex: 1;
  display: flex;
  width: 100%;
  gap: 20px;
  align-items: stretch;
}

.podium-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.podium-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  flex: 1;
  height: 100%;
  gap: 20px;
}

.podium-item--first .points-wrapper { height: 80%; }
.podium-item--second .points-wrapper { height: 65%; }
.podium-item--third .points-wrapper { height: 55%; }

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.profile-picture {
  width: 160px;
  height: 156px;
  border-radius: 9999px;
}

.profile-name-container {
  width: 100%;
  padding: 4px 10px;
  background: #0b88d5;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  position: absolute;
  bottom: -10px;

  transition: width 0.2s ease, max-width 0.2s ease;
  overflow: hidden;
}

.profile-name-container--first { background: #0b88d5; }
.profile-name-container--second { background: #0c94e9; }
.profile-name-container--third { background: #51b6f6; }

.profile-name {
  color: #053c5e;
  font-family: "Manrope";
  font-size: 15px;
  font-weight: 600;
  text-align: center;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all 0.2s ease;
}


.profile-name-container.can-expand:hover {
  width: auto;
  max-width: none;
}

.points-wrapper {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.points-card {
  width: 100%;
  padding: 30px 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 100%;
}

.points-card--first { background: #0b88d5; }
.points-card--second { background: #0c94e9; }
.points-card--third { background: #51b6f6; }

.points-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.points-number {
  font-size: 35px;
  font-weight: 1000;
  font-family: "Manrope";
  color: #053c5e;
  text-align: center;
}

.points-label {
  font-size: 16px;
  font-weight: 700;
  font-family: "Manrope";
  color: #053c5e;
  text-align: center;
}

.ranking-table {
  flex: 3;
  padding: 20px 30px;
  background: #c2f0ff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ranking-table-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ranking-header-item {
  color: #064A74;
  font-size: 20px;
  font-family: 'Manrope';
  font-weight: 700;
}

.ranking-divider {
  width: 100%;
  outline: 1px solid #51b6f6;
  outline-offset: -0.5px;
}

.ranking-table-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ranking-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #51B6F6;
}

.ranking-rank, .ranking-name, .ranking-points {
  font-family: "Manrope";
  font-size: 20px;
  color: #064a74;
}

.ranking-rank { font-weight: 600; }
.ranking-name { font-weight: 400; }
.ranking-points { font-weight: 700; color: #0b88d5; }

.profile-picture-small {
  width: 61px;
  height: 61px;
  border-radius: 9999px;
}

.circle {
  border-radius: 9999px;
}

.circle.blue {
  width: 50px;
  height: 50px;
  background: #0c94e9;
}

.circle.red {
  width: 47.62px;
  height: 47.62px;
  background: #f62717;
}
