
/*-------------- MODULOS ----------------*/
.modules-wrapper {
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  background: #042C45;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modules-header {
  color: #EBFAFF;
  font-size: 28px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
}

.module-card {
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.module-summary {
  width: 100%;
  padding: 10px 20px;
  background: #064A74;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.module-status-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.module-status-circle.green {
  background: #4DAA57;
}

.module-name {
  display: flex;
  gap: 5px;
  align-items: center;
}

.module-name-number {
  color: #EBFAFF;
  font-size: 24px;
  font-weight: 600;
}

.module-name-text {
  color: #EBFAFF;
  font-size: 24px;
  font-weight: 400;
}

.module-meta {
  display: flex;
  gap: 20px;
  align-items: center;
}

.module-progress {
  width: 210px;
  padding: 5px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.module-progress.completed {
  background: #4DAA57;
}

.module-progress-number,
.module-progress-label {
  color: #EBFAFF;
  font-family: 'Manrope', sans-serif;
}

.module-progress-number {
  font-size: 24px;
  font-weight: 700;
}

.module-progress-label {
  font-size: 20px;
  font-weight: 500;
}

.module-arrow {
  width: 30px;
  height: 17.5px;
  background: #C2F0FF;
}

/* === MODULE CONTENT === */

.module-content {
  width: 98%;
  padding: 0 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  background-color: #08639B;
}

.module-description {
  padding: 10px 30px;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.description-title {
  font-size: 20px;
  font-weight: 600;
  color: #C2F0FF;
}

.description-text {
  font-size: 18px;
  font-weight: 500;
  color: #EBFAFF;
}

.module-subsections {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 30px;
  width: 100%;
}

.subsections-title {
  font-size: 20px;
  font-weight: 600;
  color: #C2F0FF;
  text-align: center;
}

.subsection-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #9DAAA6;
  padding: 10px;
  border-radius: 15px;
  width: 100%;
}

.subsection-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subsection-index {
  width: 30px;
  height: 31px;
  background: #064A74;
  border-radius: 20px;
  color: #8BCFF9;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Manrope', sans-serif;
}

.subsection-text {
  color: #EBFAFF;
  font-size: 18px;
  font-weight: 500;
}

.subsection-status {
  width: 200px;
  padding: 5px 20px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'SF Pro Display';
  font-size: 20px;
  font-weight: 500;
  color: #EBFAFF;
}

.subsection-status.completed {
  background: #4DAA57;
}

.subsection-status.in-progress {
  background: #F4B942;
}

.subsection-status.missing {
  background: #4C5754;
}

