
.score-card,
.time-card {
  flex: 1; /* Each fills 50% of .course-stats height */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Spread content vertically */
  align-items: center;
  padding: 20px;
  background: #042C45;
  border-radius: 15px;
  gap: 15px;
}

.card-title {
  color: #EBFAFF;
  font-size: 20px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  width: 100%;
}

.score-value {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  
}

.score-main {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.time-number,
.score-number {
  font-size: 60px;
  font-weight: 600;
  font-family: "Manrope", sans-serif;
  color: #51B6F6;
  line-height: 1;
}

.time-unit,
.score-percent {
  font-size: 20px;
  font-weight: 400;
  color: #51B6F6;
  position: relative;
}


.stat-icon {
  width: 60px;
  height: 60px;
  color: #51B6F6;
}

.arrow-icon {
  width: 18px;
  height: 18px;
  color: #51B6F6; /* Or any color you prefer */
}

.arrow-up {
  transform: rotate(0deg);
}

.arrow-down {
  transform: rotate(180deg);
}


.time-icon {
  width: 45px;
  height: 45px;
  position: relative;
}

.clock-face {
  width: 37.29px;
  height: 37.29px;
  position: absolute;
  top: 4.66px;
  left: 3.86px;
  background: #8BCFF9;
}

.clock-hand {
  width: 7.5px;
  height: 15px;
  position: absolute;
  top: 14.34px;
  left: 21.21px;
  background: #042C45;
}

.score-info {
  display: flex;
  flex-direction: row; /* stacks children vertically */
  gap: 3px;                /* space between stacked items */
  justify-content: center; /* center vertically if container has height */
  align-items: center;     /* center horizontally */
}


.highlight {
  color: #51B6F6;
  font-weight: 700;
  text-decoration: underline;
  font-size: 15px;
}

.highlight-bold {
  color: #51B6F6;
  font-weight: 700;
  font-size: 15px;
}

.normal {
  color: #9DAAA6;
  font-weight: 400;
  font-size: 15px;
}
