.ranking-container {
  width: 100%;
  padding: 20px 30px;
  background: #042c45;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ranking-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.ranking-title, .ranking-subtitle {
  font-family: "Manrope";
  font-size: 28px;
  font-weight: 600;
}

.ranking-title { color: #ebfaff; }
.ranking-subtitle { color: #8bcff9; }

.ranking-table {
  background: #c2f0ff;
  border-radius: 15px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ranking-table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ranking-header-item {
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 700;
  color: #064A74;
}

.ranking-divider {
  width: 100%;
  border-bottom: 1px solid #51b6f6;
}

.ranking-table-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.ranking-row {
  display: flex;
  justify-content: space-between; /* Distribuye rank+foto+nombre a la izquierda y puntos a la derecha */
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #51B6F6;
}

.ranking-left {
  display: flex;
  align-items: center;
  gap: 15px;

}

.ranking-rank {
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 600;
  color: #064a74;
  padding-right: 50px;
}

.profile-picture-small {
  width: 61px;
  height: 61px;
  border-radius: 9999px;
}

.ranking-name {
  font-family: "Manrope";
  font-size: 18px;
  font-weight: 600;
  color: #053c5e;
}

.ranking-points {
  font-family: "Manrope";
  font-size: 20px;
  font-weight: 700;
  color: #0b88d5;
}
