/* userStats.css */

/* Contenedor principal de estadísticas de usuario */
.user-stats-container {
  display: flex; /* Cambiado de inline-flex a flex */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  /* height: 100%; */ /* Eliminado para no forzar altura */
  padding: 20px 30px;
  background: #042c45;
  overflow: hidden;
  border-radius: 15px;
  gap: 10px;
}

/* Wrapper del encabezado (nombre y título) */
.stats-header-wrapper {
  display: flex; /* Cambiado de inline-flex a flex */
  align-items: center;
  gap: 10px;
}

.stats-name {
  color: #ebfaff;
  font-size: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

.stats-title {
  color: #8bcff9;
  font-size: 28px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  word-wrap: break-word;
}

/* Wrapper de las tarjetas de estadísticas */
.stats-cards-wrapper {
  display: flex; /* Cambiado de inline-flex a flex */
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  align-self: stretch;
}

/* Tarjeta individual de estadística */
.stats-card {
  flex: 1 1 0;
  height: 84px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  overflow: hidden;
  border-radius: 25px;
}

.stats-card.puntos {
  outline: 2px #eba10e solid;
  outline-offset: -2px;
  color: #eba10e;
}

.stats-card.challenges {
  outline: 2px #4daa57 solid;
  outline-offset: -2px;
  color: #4daa57;
}


/* Contenedor del icono dentro de cada tarjeta */
.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Contenido (texto) dentro de cada tarjeta */
.stats-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.stats-card-value {
  color: currentColor;
  font-size: 32px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}

.stats-card-label {
  color: currentColor;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
}
