name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  lint:

    runs-on: ubuntu-latest
    env:
      NEXT_PUBLIC_SUPABASE_URL: https://fake.supabase.co
      NEXT_PUBLIC_SUPABASE_ANON_KEY: fake-anon-key

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run lint
    #- run: npm test
    # Queda pendiente hasta resolver lo del API KEY - run: npm run build
    
